.loader-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.loader {
    border: 8px solid gold;
    border-top: 8px solid transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
